# Server Configuration
NODE_ENV=development          
PORT=3000
APP_URL=http://localhost:3000
CORS_ORIGIN=apps_allowed_to_call_your_backend

# Database
DATABASE_URL=postgresql://username:password@localhost:5432/mydb

# Security Keys (generate with: openssl rand -hex 32)
SESSION_SECRET=your_session_secret_key_32_chars_min
JWT_SECRET = your_token_scret_key
REFRESH_SECRET_KEY=your_refresh_token_secret_key

# Email Service (Brevo)
BREVO_API_KEY=re_your_brevo_api_key

# Payment (Stripe Demo)
STRIPE_SECRET_KEY=sk_test_your_stripe_test_key